# Frontend 
node_modules/
dist/
.vite/
.env
.env.local

# Backend
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# AI Model
*.safetensors
*.bin
*.pt
*.onnx
backend/medmind-rubert-v2/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini